@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Test .NET for OPS Pay.</p>
</div>

<div>
    <form method="post">
        <button class="btn btn-primary" >Оплатить</button>
    </form>
</div>